.tree.section__full_screen
  .parallax.parallax_1( parallax-range='0.1')
  .parallax.parallax_2( parallax-range='0.8')
  .parallax.parallax_3( parallax-range='1')
  .parallax.parallax_4( parallax-range='1.5')
