.five {
  position: relative;

  & .parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;

    &_1 {
      background-image: url(../images/bg/5/4.png);
    }

    &_2 {
      background-image: url(../images/bg/5/3.png);
    }

    &_3 {
      background-image: url(../images/bg/5/2.png);
    }

    &_4 {
      background-image: url(../images/bg/5/1.png);
    }
  }

}

@media screen and (max-width: 640px) {
  .five {

    & .parallax {

      &_1 {
        background-image: url(../images/bg/5m/4.png);
      }

      &_2 {
        background-image: url(../images/bg/5m/3.png);
      }

      &_3 {
        background-image: url(../images/bg/5m/2.png);
      }

      &_4 {
        background-image: url(../images/bg/5m/1.png);
      }
    }

  }
}


@media screen and (max-width: 640px) {
  .five {

    & .parallax {

      &_1 {
        background-image: url(../images/bg/5s/4.png);
      }

      &_2 {
        background-image: url(../images/bg/5s/3.png);
      }

      &_3 {
        background-image: url(../images/bg/5s/2.png);
      }

      &_4 {
        background-image: url(../images/bg/5s/1.png);
      }
    }

  }
}
