nav.nav
  .nav__btn
  ul.nav__list
    li.nav__item.active
      a(href='#') HOME
    li.nav__item
      a(href='#') GALLERY
    li.nav__item
      a(href='#') CONTACT
    li.nav__item.nav__item-login
      a(href='#') LOGIN
