@import "./section__full_screen";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/bg/fon.png);
}
